- div_for comment do
  .text
    %p
      = simple_format h(comment.text)
      - if admin?
        = link_to "[delete]", [comment.commentable, comment], :confirm => 'Are you sure?', :method => :delete
  .meta
    %p
      = comment.user ? h(comment.user.name) : 'anonymous'
      %br
      = time_ago_in_words comment.created_at
      ago
  %hr