a {
  color: #FFFFCC;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.image {
  margin: 2em 0;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.actions {
  margin-top: 2em;
}

.comments {
  margin-top: 2em;
}

.comment {
  margin-top: 1em;
}

img.album_thumb {
/*  padding: 5px; */
/*  border: 1px solid #111; background-color: #000; */
}

.comment, .new_comment {
  font-size: 80%;
  text-align: justify;
  margin: 2em auto 0;
  width: 50%;
}

.comment .meta {
    margin: 0em 1em;
    color: #aa8055;  
  text-align: right;
}

.comment .text {
  margin: 0em 1em;
}

.new_comment {
    text-align: left;
    
}

.new_comment label {
  
}

.new_comment input, .new_comment textarea {
  margin: 0 0 1em 0;
  width: 300px;
}

.new_comment textarea {
  height: 100px;
}


.album {
  
  font-size: 80%;
  text-align: justify;
  margin: 2em auto 0;
  width: 50%;
}

.album .meta {
/*  color: #aa8055;  */
/*  margin: 0em 1em; */
  text-align: right;
}

.album hr {
/*  background-color: #000; */
}

.album .description {
  margin: 1em 1em;
}

.album .thumb {
  float: left;
  margin: 0em 1em;
  padding-bottom: 0.5em;
}

.album .description {

}

#photos { list-style-type: none; margin: 0; padding: 0; }
#photos li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 130px; height: 125px; font-size: 4em; text-align: center; }






#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }
