development:
  access_key_id: 123...
  secret_access_key: 123...
  bucket: my_devel_bucket...
  host_alias: my_cool_development_host_alias...

test:
  access_key_id: abc...
  secret_access_key: abc...
  bucket: my_test_bucket...
  host_alias: my_cool_test_host_alias...

production:
  access_key_id: 456...
  secret_access_key: 456...
  bucket: my_production_bucket...
  host_alias: my_cool_production_host_alias...
