- title "Album"

%p
  %strong Name:
  =h @album.name
%p
  %strong Description:
  =h @album.description

%p
  = link_to "Add Photo to Album", new_album_photo_path(@album)
  |
  = link_to "Edit", edit_album_path(@album)
  |
  = link_to "Destroy", @album, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", albums_path
